html, body {
    width: 99%;
    height: 99%;
    text-align: center;
    background: url(../img/orangeBG.jpg) no-repeat center center fixed;
    background-size: cover;
}

#pageHTML {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background: #A4823F;
    font-style: normal;
    font-weight: 200;

    margin: 5px;
    border: 3px solid #000000;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    width: 700px;
    height: 80px;

    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
}

  button, input, select, option {
    width: 700px;
    height: 80px;

    background: #f2bd73;

    border-radius: 25px;
    margin: 5px;
    border: 3px solid #000000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
